# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
noshow_env/

# Model files
models/*.pkl

# Figures
figures/*.png

# OS junk
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

